{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'home' %}"><h1>Blog de animales domésticos</h1></a>
        <div>
            <a href="{% url 'article-create' %}">Crear artículo</a>
        </div>
        <!-- registro de usuario    -->
        <div>
            {% if user.is_authenticated %}
                <span>Bienvenido, {{ user.username }}!</span>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Cerrar sesión</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Iniciar sesión</a> |
                <a href="{% url 'signup' %}">Registrarse</a>
            {% endif %}
        </div>
    </header>

    {% block content %}

    {% endblock content %}

    <footer>
        <p>&copy; 2026 Blog de animales domesticos. Todos los derechos reservados.</p>
    </footer>
</body>
</html>