{% extends '_base.html' %}

{% block content %}
    <article>
        <h2>{{ article.title }}</h2>
        <p>{{ article.content }}</p>
        <p><strong>Autor:</strong> {{ article.author }}</p>
        <p><strong>Fecha:</strong> {{ article.created_at }}</p>
    </article>
    
    <!-- Mostrar los enlaces, solo si el usuario está autenticado y es el autor del artículo -->
    {% if user.is_authenticated and user == article.author %}
        <a href="{% url 'article-update' article.pk %}">Editar artículo</a> |
        <a href="{% url 'article-delete' article.pk %}">Eliminar artículo</a>
    {% endif %}
{% endblock content %}